*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

body{
    background:rgb(211, 235, 243);
}

header{
    height: 10vh;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.darkmode{
  display: flex;
  gap: 10px;
}

.search-bar{
  padding: 30px;
  display: flex;
  justify-content: center;
}

.search-bar input{
    width: 350px;
    padding: 12px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.countries{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    gap: 20px;
    padding: 0px 50px;
}

.card{
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 20px;
    color: rgb(30, 49, 49);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.pagination{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.pagination button{
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 24px;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color:rgb(106, 177, 180);
  color:white;
  margin-top: 50px;
}

/* ------------------------- */
/*      POPUP ANIMATION      */
/* ------------------------- */

.modal{
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity .3s ease;
}

.modal.show{
  display: flex;
  opacity: 1;
}

.modal-content{
  background: ghostwhite;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;

  transform: scale(0.7);
  transition: transform .3s ease;
}

.modal.show .modal-content{
  transform: scale(1);
}

#closeModal{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}
